@import "tailwindcss";

/* Hide number input spinners */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes shine {
  100% {
    left: 125%;
  }
}
